<% if current_user %>
<div class="d-flex justify-content-end mb-2">
    <span><%= t('.display_name')%>&nbsp;<%= current_user.display_name %>&nbsp;</span>
    <%= link_to t('.signout'), 
    session_path(session[:user_id]), 
    method: :delete,
    class: 'btn btn-sm btn-primary' %>
    <%= link_to t('.signup'), new_user_path, class: 'btn btn-sm btn-secondary' %>
</div>
<% else %>
    <!-- usesにレコードが存在していた場合 -->
    <% if User.all.any? %>
    <%= form_for :signin, url: {controller: 'sessions'}, html: {class: 'd-flex justify-content-end signin-form'} do |f| %>
        <%= f.text_field :signin_name, placeholder: 'signin_name', class: 'from-control form-control-sm' %>
        <%= f.text_field :password, placeholder: 'password', class: 'form-control form-control-sm' %>
        <%= f.submit t('.signin'), class: 'btn btn-sm btn-primary' %>
    <% end %>
    <% else %>
    <!-- usersにレコードが存在していなかった場合 -->
    <%= link_to t('.signup'), new_user_path, class: 'btn btn-sm btn-secondary' %>
    <% end %>
<% end %>